/****** Object:  Database [csci4830-group]    Script Date: 10/27/2025 9:53:50 AM ******/
CREATE DATABASE [csci4830-group]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[book-library]    Script Date: 10/27/2025 9:53:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book-library](
	[Title] [varchar](80) NOT NULL,
	[Author] [varchar](80) NOT NULL,
	[PublicationYear] [int] NOT NULL,
	[PageCount] [int] NOT NULL,
	[ISBN] [varchar](50) NOT NULL,
	[TimesChosen] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club-list]    Script Date: 10/27/2025 9:53:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club-list](
	[Code] [varchar](50) NOT NULL,
	[AdminCode] [varchar](50) NOT NULL,
	[ClubName] [varchar](80) NOT NULL,
	[ClubURL] [varchar](50) NOT NULL,
	[AdminURL] [varchar](50) NOT NULL,
	[PagesRead] [int] NOT NULL
) ON [PRIMARY]
GO
